/*
0: "#fbb4ae"
1: "#b3cde3"
2: "#ccebc5"
3: "#decbe4"
4: "#fed9a6"
5: "#ffffcc"
6: "#e5d8bd"
7: "#fddaec"
8: "#f2f2f2"
*/

.event-list {
    border: 1px solid #fbb4ae;
    padding: 1em;
    margin: 1em;
}

.event-drop-target {
    background-color: #b3cde3;
    border: 1px solid black;
    padding: 1em 0.5em;
}

.event-drag-source {
    background-color: #ccebc5;
    border: 1px solid black;
    padding: 1em 0.5em;
}

.event-sequence {
    border: 1px solid #decbe4;
    padding: 1em 0.5em;
}

.user-facing-time-offset span {
    margin-right: 0.4em;
    
}

.bodytext {
    background-color: #fed9a6;
    padding: 1em 0.5em;
    margin: 1em 0.5em;
    font-size: small;
    height: 100%;
}

.bodytext-title {
    font-weight: bold;
    display: block;
    font-size: medium;
}

.text-fields { margin-bottom: 1em; }
